<%= form_for @lawyer, :html => { :class => "form-horizontal lawyer" } do |f| %>

<% if @lawyer.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@lawyer.errors.count, "error") %> prohibited this lawyer from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @lawyer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <%=f.error_span(:name) %>
</div>

<div class="form-group">
  <%= f.label :state, :class => 'control-label col-lg-2' %><br />
  <div class="col-lg-10">

    <%= f.select :state_id, options_for_select(State.all.map{|s|[s.uf, s.id]}), {include_blank: "Select State"}, { :class => 'form-control' } %>
  </div>
</div>

</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    lawyers_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>
